[Unit]
Description=Reverse-Proxy Configuration Target
Requires=namespaced-wireguard-vpn-interface.service
Requires=namespaced-wireguard-vpn-netns.service

[Install]
WantedBy=multi-user.target

